.card {
  width: 30%;
  color: #fff;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  padding: 1rem;

  border-radius: 4px;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  max-width: 100%;
}

.card img,
.card h2,
.card p {
  margin-bottom: 1rem;
}

.card svg{
    color: #f7d354;
}

.card a {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: 1rem 0.5rem;
  text-align: center;
  transition: 0.4s;
  font-weight: bold;
}

.card a:hover {
  background-color: transparent;
  color: #f7d354;
}


