.card{
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
    border-radius: 4px;
    transition: .5s;
}

.card:hover{
    transform:scale(1.1)
}

