.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .cicle {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  border-color: rgb(96, 95, 95) rgb(96, 95, 95) rgb(96, 95, 95) rgb(217, 255, 0);
  border-radius: 50%;

  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
  margin-bottom: 2rem;
}




@keyframes rotate {
  from {
    transform: rotate(0deg); /* Início da rotação (0 graus) */
  }
  to {
    transform: rotate(360deg); /* Fim da rotação (360 graus) */
  }
}


.container .name::after {
  animation: dots 3s steps(3, end) infinite;
  content: "...";
}

@keyframes dots {
  0% { content: ""; }
  33% { content: "."; }
  66% { content: ".."; }
  100% { content: "..."; }
}
