.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  background-color: #111;
  margin-top: 1rem;
  padding: 1.3rem 0;
  border-radius: 25px;
}

.card {
  max-width: 40%;
}
.card img {
  width: 100%;
}

.infos {
  max-width: 50%;
}

.infos .info{
    margin-bottom: 1rem;
}
.infos .info h3{
    margin-bottom: 1rem;
    color: #f7d354;
    
}
.infos .info h3 svg{
    margin-right: 0.5rem;
    
}


.description{
    line-height: 1.6rem;
    text-align: justify;
}